.personalPage {
  background: rgb(244, 244, 244);
  font-size: 16px;
}

.row > li {
  margin-top: 20px;
  padding: 10px 10px 10px 15px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.row li:active {
  background-color: rgba(0,0,0,.1);
}

.row li > div {
  display: flex;
  align-items: center;
}

.row li > div::after {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-top: 2px solid #c8c8cd;
  border-right: 2px solid #c8c8cd;
  right: 15px;
  margin-top: -15px;
  position: absolute;
}

.rowList:active {
  background-color: white!important;
}

.row i {
  color: #f24c38;
  font-size: 18px;
  margin-right: 5px;
}

.row > li > div > img {
  width: 60px;
  height: 60px;
  margin-left: -5px;
  margin-right: 15px;
}

.row .rowList {
  padding: 0;
}

.rowList li > div {
  padding: 10px 10px 10px 15px;
  width: 100%;
}

.rowList li::after {
  content: " ";
  display: block;
  height: 1px;
  background: #d9d9d9;
  margin-left: 15px;
}

.rowList > ul > li:last-child::after {
  display: none;
}
